/*-----Mobile-----*/
.projects {
  width: 100%;
  height: auto;
  background: $secondBgColor;
  h1 {
    font-family: $fontHeading;
    font-size: 1.7rem;
    color: $fontColor;
    text-align: center;
    margin-top: 1em;
  }
  .projectList {
    width: 100%;
    height: auto;
  }
}

/*-----Tablet-----*/
@media screen and (min-width: 481px) {
  .projects {
    h1 {
      font-size: 1.9rem;
    }
  }
}

/*-----Laptop-----*/
@media screen and (min-width: 769px) {
  .projects {
    h1 {
      font-size: 2.1rem;
    }
  }
}

/*-----Desktop,TV-----*/
@media screen and (min-width: 1025px) {
  .projects {
    h1 {
      font-size: 2.3rem;
    }
  }
}
